@import '/src/variables.css';

@keyframes fadeIn {
    to { opacity: 1;}
}

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: var(--size-title);
    font-weight: 500;
}


.contentCards {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 40%;
    gap: 30px;
    margin: 50px;
    opacity: 0;
    animation: fadeIn 1s 0.5s forwards;
}

.contentCards a {
    color: var(--color-text);
    text-decoration: none;
}

.card {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 2px solid var(--color-active);
    border-radius: 20px;
    box-shadow: 1px var(--color-active);
    padding: 20px;
    transition: margin 0.2s ease-in-out;
}

.card:hover {
    margin-top: -5px;
}

.card img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    filter: invert(72%) sepia(30%) saturate(1300%) hue-rotate(160deg) brightness(70%) contrast(100%);

}

.card body {
    color: var(--color-text);
}
