@import '/src/variables.css';


.pageLayout {
    display: grid;
    grid-template-rows: 50px auto 150px;
    width: 100%;
}

.messageBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-self: center;
    width: 800px;
    overflow-y: auto;
    margin-left: -50px;
}

.messageBox::-webkit-scrollbar {
    display: none;
}

.message {
    padding: 15px;
}

.user {
    align-self: flex-end;
    border-radius: 20px;
    background-color: var(--color-emph);
}

.response {
    display: flex;
    gap: 0 35px;
}

.response .content {
    width: 100%;
}

.response .content a {
    color: var(--color-link);
    text-decoration: none;
}

.response img {
    width: 25px;
    height: 25px;
}

.response h4 {
    margin-bottom: 15px;
}

.response ul {
    line-height: 40px;
}

.response small {
    position: relative;
    color: var(--color-title);
    font-weight: bold;
    margin-left: 20px;
}

.response hr {
    color: var(--color-emph);
    border: 1px solid;
    margin: 30px 0;
}

.delay {
    visibility: hidden;
}