#root {
}

* {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    overflow: hidden;
}

body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
